# Terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan
*.plan

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc

# OS files
.DS_Store
